vendor
*.swp
.buildpath
.project
.settings
.DS_Store
var/*.pid
var/*.log
test-cases/*/*/*/bin/cookie.txt
test-cases/*/*/*/web/asset.txt
test-cases/*/*/*/web/version.txt
test-cases/*/*/*/web/session.txt
test-cases/*/*/bin/cookie.txt
test-cases/*/*/web/asset.txt
test-cases/*/*/web/version.txt
test-cases/*/*/web/session.txt
composer.lock
